.customToggle Label {
    -unity-text-align: middle-left;
    width: auto;
    flex-shrink: 0;
    height: 10px;
    flex-grow: 1;
    position: absolute;
    white-space: nowrap;
    min-width: 0;
    min-height: 0;
    padding-left: 15px;
}

.customToggle VisualElement {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}
