.customToggle Label {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: auto;
    height: auto;
    margin-left: 5;
    margin-right: 10;
    align-self: auto;
    justify-content: flex-start;
    min-width: 50px;
}

.customToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
}
